
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;

}
.taskForDone{
    border-bottom: 1px solid black;
}
.textTask{
    display: inline-block;
    font-size: 20px;
}
.buttonTask{
    margin-left: 50px;
    background: white;
    border: black solid 1px;
}
.buttonAdd{
    margin-left: 50px;
    padding: 10px 20px;
    background: lightblue;
    border: none;
 }
.inputTask{
    width: 200px;
    height: 20px;
    border: 3px solid lightblue;
}